  <noscript>
        <style>
            .woocommerce-product-gallery {
                opacity: 1 !important;
            }
        </style>
    </noscript>
    <style>
        #masthead {
            background-color: #fff !important;
        }

        .team-module, .team-member .member-card {
            background-color: #fff !important;
        }

        .member-profile {
            background: rgba(0,166,235,0.9) !important;
            color: #fff !important;
        }

        .trip h2 {
            color: #1f1d1d !important;
        }

        h2 span {
            color: #00a6eb;
        }

        .module-caption h2 {
            color: #fff !important;
        }

        .module-caption p {
            color: #1f1d1d !important;
        }

        .member-name {
            color: #00a6eb !important;
        }

        .member-title {
            color: #1f1d1d !important;
        }

        .content-box p {
            color: #1f1d1d;
            font-size: 24px;
        }

        .featured h2 {
            color: #fff !important;
        }

        .icon-service-box img {
            width: 384px !important;
            height: 182px !important;
            border-radius: 5px;
        }

        .service-title {
            margin-top: 10px !important;
        }

        .service-content {
            text-align: justify !important;
        }

        .process-label i {
            color: #fff !important;
        }

        .process-label span {
            color: #fff !important;
        }

        .process-active {
            color: #00a6eb !important;
        }

        .line-process-wrapper {
            color: #00a6eb !important;
        }

        .scoop-navbar {
            background-image: url('assets/images/slider/xbg-mbg.jpg.pagespeed.ic.PFee4_fRgA.html');
        }

        .scoop-item li a {
            color: #fff !important;
            padding: 15px;
            font-size: 14px !important;
        }

            .scoop-item li a:hover {
                color: #09435b !important;
            }

        .scoop-submenu {
            background-color: #0094ff !important;
        }

        .scoop-hasmenu {
            min-width: 330px !important;
        }

        .zippo {
            min-width: 80px !important;
        }

            .zippo .trip {
                min-width: 330px !important;
            }

        .twitter-icon {
            display: inline-block !important;
            margin-left: 20px !important;
            color: #00a6eb !important;
        }

            .twitter-icon i {
                color: #00a6eb;
            }

        .subscribe-btn {
            background-color: #00a6eb !important;
        }

        .input-group-btn {
            background-color: #00a6eb !important;
        }

        .ci-content p a {
            color: #fff;
            text-decoration: none;
            font-size: 14px !important;
        }

            .ci-content p a:hover {
                color: #74c6e8;
            }

        #in_th_028 {
            width: 100% !important;
        }

        .menu-toggle {
            background-color: #0094ff !important;
            margin: 5px;
        }

        .inner-navbar {
            background-color: #0094ff !important;
        }

        .show-menu {
            background-color: #0094ff !important;
        }

        .scoop-search-item li {
            background-color: #0094ff !important;
        }

        .icon-service-box .service-content {
            height: 220px !important;
        }

        .zipper-zip {
            display: none !important;
        }

        .zipper {
            display: block !important;
        }

        @media only screen and (max-width: 1024px) {
            #service {
                background-color: #fff !important;
                background: #fff !important;
            }

                #service h2 {
                    color: #1f1d1d !important;
                }

            .icon-service-box h3 span {
                color: #0094ff !important;
            }

            .icon-service-box h3 {
                color: #1f1d1d !important;
            }

            .icon-service-box p {
                color: #1f1d1d !important;
            }

            .zipper-zip {
                display: block !important;
            }

            .zipper {
                display: none !important;
            }
        }
    </style>
