
/* #E10A05 Red
#0B2B40 Blue */

body{
    background-color: aliceblue;
    padding: 2px;
    font-family: 'Lato';
    overflow-x: hidden;
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
}

.navbar-nav ul {
    padding-top: 15px;
    margin-bottom: 0;
}

.navbar a{
    color: white;
}

.nav-link:active{
    border-left: black solid 2px;
}

.slide-images {
    position: absolute;
    top:25%;
    
}

#main-heading .col-6{
    clip-path: polygon(0% 0%, 75% 0%, 92% 100%, 0% 100%);
    background: #578FCC;
}

#meinberg .col-6{
    clip-path: polygon(0% 0%, 75% 0%, 92% 100%, 0% 100%);
    background: #578FCC;
}

#transition .col-6{
    clip-path: polygon(0% 0%, 75% 0%, 92% 100%, 0% 100%);
    background: #578FCC;
}





.topdiv {
    clip-path: polygon(0% 0%, 83% 0%, 100% 100%, 0% 100%);
}

.about-us{
    text-align: justify;
}

#main-heading .col-7{
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 3% 100%);
}

#meinberg .col-7{
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 3% 100%);
}

#transition .col-7{
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 3% 100%);
}

.meinburg{
    background-image: linear-gradient(to right,rgba(11, 43, 64, 0.603),rgba(11, 43, 64, 0.801)), url('../img/ntp.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    clip-path: polygon(0% 0%, 80% 0%, 100% 100%, 0% 100%);
}

.transition {
    background-image:linear-gradient(to right,rgba(225, 9, 5, 0.603),rgba(225, 9, 5, 0.801)), url('../img/transition-networks.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 20% 100%);
}

#Clients .col-3 {
    max-width: 200px;
}

#Clients img{
    width: 200px;
}

#Clients .row{
    margin-left: auto;
    width: 80%;
    margin-right: auto;
}

#Clients p{
    text-align: justify;
}

.irm{
    padding:10px;
	background-image: url('../img/irslide1.jpg'); 
	background-position: center;
	background-size: cover;
    background-repeat: no-repeat;
   
   border:  #578FCC solid 5px;
   border-right: none;
  clip-path:  polygon(5% 0%, 100% 0%, 95% 100%, 0% 100%);


}

.sumito{
	background-image: url('../img/rubber.jpg'); 
    border:  #578FCC solid 5px;
	background-position: center;
    background-size: cover;
    border-left: none;
    background-repeat: no-repeat;
   clip-path:  polygon(5% 0%, 100% 0%, 95% 100%, 0% 100%);
}

.layer1 {
    background-color: rgba(250, 245, 245, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.layer {
    background-color: rgba(22, 21, 21, 0.377);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#market p{
    font-size: 35px;
}

#brand-partners a{
 color: white;
}

#otherPartners p {
    padding-right: 30px;
    padding-left: 30px;
    font-size: 20px;
    text-align: justify;

}

#meinberg ul{
    padding-left: 8px;
   
}

#transition ul{
    padding-left:8px;
   
}

.headertop {
    margin: 0px;
    padding: 0px;
    background: #93bbd5;
    height: 40px;
}

.headertopsocialleft {
    margin: 9px 0px;
    padding: 0px;
}

.headertopsocialleft ul li {
    margin: -10px 10px 0px 0px;
    padding: 0px;
    list-style: none;
    float: left;
}

.headertopsocialleft ul i {
    margin: 0px;
    padding: 4px 0px;
    text-align: center;
    color: #000000;
    font-size: 14px;
    background: #fff;
    height: 22px;
    width: 22px;
}

.headertopaddress {
    margin: 9px 0px;
    padding: 0px;
    float: right;
}

.headertopaddress ul {
    margin: 0px;
    padding: 0px;
}

.headertopaddress ul li {
    margin: 0px 0px 0px 30px;
    padding: 0px;
    list-style: none;
    float: left;
}

.headertopaddress ul li h1 {
    margin: 0px 0px 0px 0px;
    padding: 0px;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    font-family: 'Calligraffitti', cursive;
}

.headertopaddress ul li i {
    margin: 0px 6px 0px 0px;
    padding: 0px;
    font-size: 20px;
    color: #fff;
}

.headertopaddress ul li a {
    margin: 0px 0px 0px 0px;
    padding: 0px;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    transition: all 0.8s ease;
    font-family: 'Calligraffitti', cursive;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}



@media (max-width: 1600px) { 

   

    #otherPartners ol{
        width:0px;
        padding-left: 40px !important;
    }

}

@media (max-width: 1200px) { 

    #otherPartners {
        margin-top: 100px !important;
        height: 700px !important;
    }

    #otherPartners ol{
        width:0px;
        padding-left: 20px !important;
    }

}

@media (max-width: 992px) { 
    #otherPartners {
        margin-top: 500px !important;
        height: 800px !important;
    }
   }

 @media (max-width: 768px) { 
    #otherPartners {
        margin-top: 700px !important;
        height: 990px !important;
    }
  }

  @media (max-width: 502px) { 


    #otherPartners {
        margin-top: 880px !important;
       height: 1000px !important;
    }
  }

  #otherPartners ol{
      width:0px;
      padding-left: 10px;
  }




  @media(max-width: 768px){
    #transition{
        margin-top: 150px;
      }
     #contact{
         margin-top: 100px;
     }
  }

  @media (max-width: 576px) { 
    #transition{
        margin-top: 150px;
      }
     #contact{
        margin-top: 100px;
     }
  }

  @media (min-width: 992px) { 


   
      #transition{
        margin-top: 150px;
      }
    #contact{
        margin-top: 0px;
     }
  }

  @media (min-width: 1200px) {
    #transition{
        margin-top: 150px;
      }
    #contact{
        margin-top: 0px;
     }
   }

   @media(max-width:576px){
    
    #market p {
        font-size: 21px;
    }

    #otherPartners p{
        font-size: 14px;
    }

       .irm-img{
           width: 180px;
       }

       .sumitomo-img{
           width: 200px !important;
       }
       .logo-main{
           width: 260px;
       }

       .social{
           width: 200px;
       }

       .numbers {
        width: 250px;
    }

       .numbers li:nth-child(2){
           display: none;
       }

      
   
      .about-us{
          padding-left: 30px;
      }
      #meinberg .meinberg-para{
        padding-left: 30px !important;
      }

      #meinberg li{
        padding-left: 30px !important; 
      }

      #meinberg h4{
        padding-left: 30px !important; 
      }


      #transition .transition-para{
        padding-left: 30px !important;
      }

      #transition li{
        padding-left: 30px !important; 
      }

      #transition h4{
        padding-left: 30px !important; 
      }
   }

   @media(max-width:600px){
     #meinberg{
         margin-top: 100px;
     }
   }

   @media(max-width:450px){
    #meinberg{
        margin-top: 150px;
    }

    #transition {
        margin-top:215px;
   }
  }

  @media(max-width:428px){
    #meinberg{
        margin-top: 200px;
    }
  }

  @media(max-width:422px){
      #Clients{
          margin-top: 115px;
      }
  }
  

  @media(max-width:1600px){
      .contactinfo{
          padding-left: 194px;
      }
  }

  @media(max-width:992px){
    .contactinfo{
        padding-left: 50px;
    }
}



@media(max-width:502px){
    .contactinfo{
        padding-left: 20px;
    }
}

